.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	display: flex;
	align-items: center;
	/*font-size: calc(10px + 2vmin);*/
	color: white;
}
.App-title {
	font-size: 1.5rem;
	margin: 0 20px 0 0;
}

.App-link {
	color: #ffffff;
	text-decoration: none;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
}
.App-link.active {
	color: #6a8dff;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.df {
	display: flex;
	align-items: center;
}

.space-between {
	justify-content: space-between;
}

.form {
	width: 300px;
}
.form-label {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
